{% extends 'places_remember/base.html' %}
{% block title %}
    Главная страница
{% endblock %}

{% block content %}
    <h1 class="mb-3">Главная страница</h1>
    {% if memories %}
        {% for el in memories %}
            <div class="card mb-3">
                <div class="card-header">
                    <h3>{{ el.title }}</h3>
                </div>
                <div class="card-body">
                    <p>{{ el.task }}</p>
                    <a  target="_blank" rel="noopener noreferrer" href="https://www.google.com/maps/search/{{ el.location.place }}/" class="btn btn-secondary">Место на карте</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>У вас нет ни одного воспоминания</p>
    {% endif %}
{% endblock %}
